@tailwind base;
@tailwind components;
@tailwind utilities;

.linearGradient {
  border-radius: 10px;
  background: linear-gradient(
    117deg,
    rgba(252, 70, 107, 0.4) 0%,
    rgba(63, 94, 251, 0.06) 100%
  );
  opacity: 0.3;
}

.hr {
  opacity: 0.45;
  background: var(
    --Liner-Card-BG,
    linear-gradient(117deg, #fc466b 0%, #3f5efb 100%)
  );
}

.line {
  border-radius: 20px;
  background: var(
    --Liner-White-15,
    linear-gradient(90deg, #fff -6.38%, rgba(255, 255, 255, 0) 100%)
  );
}
